.blockquote{
  max-width: 1000px;
  margin: 10px 30px;
  padding: 25px;
  background: #f8fffe;
  border: 1px solid #b0baba;
  color: #323635;
  box-shadow: border-box;
}

.blockquote-txt{
  font-style: italic;
  font-size: 1.15em;
  line-height: 1.5;
  margin: 0;
}

.blockquote-txt:not(:last-child){
  margin-bottom: 1em;
}

.blockquote-border{
  border-left-width: 10px;
}

.blockquote-text-credit{
  font-weight: bold;
  font-style: normal;

}
