@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Noto+Serif:ital@0;1&display=swap');

.justify-signature{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  gap: 10px;
}

.signature{
  font-size: 0.7rem;
}

.lettre{
  padding: 15px;
  border: 1px solid;
  font-family: 'Bodoni Moda', serif;
  width: 95%;
  margin-bottom: 70px;
  /* font-family: 'Noto Serif', serif; */
}

.citation-txt-3{
  margin: 10px 0px;
  line-height: 1.7em;
  font-size: 1rem;
  text-align: justify;
}


@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');

.citation{
  display: flex;
}

.gallery-container{
}

.citation-txt-2{
  font-family: 'Noto Serif', serif;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  padding: 100px 0 15px 0;
  line-height: 3rem;
  font-size: 1.7rem;
  letter-spacing: 1px;
  font-style: italic;
}

.citation-author-2{
  font-size: 1.6rem;
  margin-left: 450px;
  /* text-align: end; */
  font-family: 'Noto Serif', serif;
  font-style: italic;
}


@media only screen and (max-width: 769px){






}

@media only screen and (max-width: 643px){
  .citation-txt-2{
    font-family: 'Noto Serif', serif;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0 5px 0;
    /* line-height: 3rem; */
    font-size: 0.9rem;
    letter-spacing: 0.2px;
    font-style: italic;
  }

  .citation-author-2{
    font-size: 0.8rem;
    margin-left: 0px;
    margin-right: 20px;
    text-align: end;
    font-family: 'Noto Serif', serif;
    font-style: italic;
  }
  .citation{
    margin-top: 0px;
    margin-bottom: 30px;
  }
}
